// hero-style
@import "../../../custom-palettes.scss";

.hero-height {
	position: relative;
	height: 650px;
	max-width: 100%;
	margin: 0 auto;
	background-image: url("/assets/img/banner/lectoform-banner.webp");
	background-size: cover;
	&:before {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #021b52;
		content: "";
		opacity: 0.55;
	}
	@media #{$md} {
		height: 550px;
		background-position: 80% 0%;
	}
	@media #{$sm,$xs} {
		height: 500px;
		background-position: inherit;
	}
	display: flex;
	align-items: center;
	background-position: center;
	@media #{$xxl,$xl,$lg} {
		background-position: 80% center;
	}

	.hero-text {
		margin-top:-50px;
		h1 {
			color: $white;
			margin-bottom: 0px;
			font-size: 60px;

			@media #{$md} {
				font-size: 45px;
			}
			@media #{$xs,$sm} {
				font-size: 35px;
			}
		}

		h2 {
			color: $white;
			max-width: 510px;
			margin: 0px auto 30px auto;
			font-size: 23px;
			font-weight: 600;
			background: rgba(0, 0, 0, 0.1803921569);

			@media #{$xl,$lg,$md} {
				font-size: 23px;
			}
			@media #{$xs,$sm} {
				font-size: 20px;
			}
		}

		.hero-actions {
			max-width: 510px;
			margin: 0 auto;
		}
	}
}

.shape-3 {
	position: absolute;
	top: 50%;
	left: 0;
}
