<!-- university-message-start -->
<div class="message-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="message-sticker position-relative">
                    <img src="assets/img/slider/hero-02.webp" alt="Echipa Lectoform">
                    <div class="message-profile-text mt-20">
                        <p class=" mb-30">
                            Dragi cursanţi,
                        </p>
                        <p>
                            În primul rând, vă mulţumim pentru încrederea cu care ne investiţi în fiecare an în care
                            reveniţi la programele noastre. Fidelitatea dumneavoastră va fi şi în acest an răsplătită.
                        </p>
                        <p>
                            Organizăm programe de formare profesională care se finalizează cu certificări recunoscute de
                            Autoritatea Naţională pentru Calificări, Ministerul Muncii şi Ministerul Educaţiei şi
                            cursuri de specializare la care se emit diplome de participare sub antetul companiei
                            noastre. Grila de cursuri este diversificată şi adaptată nevoilor de formare a sectorului
                            public şi include 20 de programe care se finalizează cu certificare recunoscută. Selectăm
                            locaţii de organizare cu potenţial turistic şi folosim instrumente de creare a echipei
                            precum schimburile de experienţă şi excursiile de socializare pe care le organizăm atât în
                            ţară cât şi în marile oraşe ale Europei, unde avem programate vizite la unitățile
                            administrativ teritoriale de tipul comunelor. Toate cursurile noastre se desfăşoară într-o
                            atmosferă relaxantă punând accent pe facilitarea schimbului de experienţă între
                            participanţi.
                            Vă provocăm să participaţi la un curs organizat de echipa noastră şi să descoperiţi că cele
                            menţionate mai sus sunt atuurile noastre şi nu doar un mesaj de marketing.
                        </p>
                    </div>
                    <div class="etablist-price">
                        <p> peste <span>10 ani</span> experienta</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                
            </div>
        </div>
    </div>
</div>
<!-- university-message-end -->