<!-- university-card-area-start -->
<div class="university-card">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="university-main-wraper d-flex align-items-center">
                    <div class="university-course-box d-flex align-items-center">
                        <div class="university-card-text">
                            <h3>Cauta <span>cursuri</span>...</h3>
                            <a class="edu-six-btn" [routerLink]="['/course']">Vezi Toate Cursurile</a>
                        </div>
                    </div>
                    <div class="university-card-wrapper flex-fill">
                        <div class="university-card-content">
                            <h3>Filtru cursuri...</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- university-card-area-end -->