<!-- campus-area-start -->
<div class="campus-area fix pt-70 pb-70 ">
    <div class="container">
        <div class="campus-wrapper position-relative">
            <div class="campus-shape-sticker">
                <div class="shape-light">
                    <img src="assets/img/shape/shape-light.png" alt="image not found">
                </div>
                <div class="campus-shape-content d-flex flex-column">
                    <h5>Fii in pas cu noutăţile...</h5>
                        <a mat-raised-button color="accent" class="flex-fill" href="http://eepurl.com/dvABhb" target="_blank">Aboneaza-te</a>
                </div>
            </div>
            <div class="campus-shape-1">
                <img src="assets/img/shape/campus-shape-2.png" alt="shape">
            </div>
            <div class="campus-shape-2">
                <img src="assets/img/shape/student-shape-05.png" alt="shape">
            </div>
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="compus-content mb-30">
                        <div class="section-title mb-30">
                            <h2>Vă invităm sa faceţi cunoştinţă cu echipa <span class="down-mark-line-2">Lectoform</span></h2>
                        </div>
                        <p>Suntem o echipă tânără, dedicată şi ne place investim în toate programele pe care le derulăm o doză bine proporţionată de responsabilitate, energie pozitivă şi implicare. Pentru derularea cu succes a sesiunilor de formare alegem să colaborăm cu lectori și specialiști cu experiență practică în domeniul de aplicare a cursurilor, experți capabili să răspundă concret la situațiile care pot interveni în activitatea funcționarilor publici și a personalului contractual din cadrul instituțiilor publice.</p>
                        <ul>
                            <li><i class="far fa-check"></i>Echipa tânără şi dedicată </li>
                            <li><i class="far fa-check"></i>Energie pozitivă şi implicare </li>
                            <li><i class="far fa-check"></i>Specialişti cu experienţă practică </li>
                            <li><i class="far fa-check"></i>Atitudine de respect şi responsabilitate</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-6">
                    <div class="campus-img-wrapper position-relative">
                        <div class="campus-shape-3">
                            <img src="assets/img/shape/campus-shape-1.png" alt="Echipa Lectoform 1">
                        </div>
                        <div class="campus-img-1">
                            <img src="assets/img/campus/campus-img-1.webp" alt="Echipa Lectoform 2">
                        </div>
                        <div class="campus-img-2">
                            <img src="assets/img/campus/campus-img-2.webp" alt="Echipa Lectoform 3">
                        </div>
                        <div class="campus-img-3">
                            <img src="assets/img/campus/campus-img-3.webp" alt="Echipa Lectoform 4">
                        </div>
                        <div class="campus-img-4">
                            <img src="assets/img/campus/campus-img-4.webp" alt="Echipa Lectoform 5">
                        </div>
                        <div class="campus-img-5">
                            <img src="assets/img/campus/campus-img-5.webp" alt="Echipa Lectoform 6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- campus-area-end -->